
<h4> First Name: </h4>
<p> <%= @employee.first_name %> </p>
<h4> Last Name: </h4>
<p> <%= @employee.last_name %> </p> 
<h4> Alias: </h4>
<%= @employee.alias %> 
<h4> Title: </h4>
<%= @employee.title %> 
<h4> Office: </h4>
<%= @employee.office %> 
<h4> Dog: </h4>
<%= link_to @employee.dog.name, dog_path(@employee.dog) %> 
<h4> Image: </h4> 
<%= image_tag(@employee.img_url, :alt => "Profile Picture") %>